.office {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin-top: 150px;
}

.office textarea {
    border: none;
    background-color: rgb(243, 245, 241);
    min-height: 20px;
    margin-top: 20px;
    font-weight: 700;
    overflow: scroll;
    word-break: break-all;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.input[type="text"] {
    font-weight: 700;
}

.input[type="file" i] {
    width: 500px;
}

.custom-file-input {
    content: "Добавить файл";
    height: 60px;
}

.office button {
    text-decoration: none;
    margin: 0;
    margin-top: 14px;
}

