.programms {
    display: flex;
    flex-direction: column;
    margin-top: 180px;
}

.programms h1 {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    font-size: 70px;
}

.programms-line {
    border: 0.5px solid rgb(92, 91, 91);
}

.directions {
    display: flex;
    width: 1400px;
    margin-top: 40px;
    justify-content: center;
    flex-direction: column;
    padding: 80px;
}

.directions-item {
    display: flex;
    justify-content: center;
}





