.profile-container {
    display: flex;
    margin: 0 auto;
    margin-top: 70px;
}
.profile-info-main {
    width: 70%;
    height: 500px;
    /* background-color: rgb(247, 252, 250); */
    border: 1px solid rgb(236, 235, 235);
}
.profile-info-dop {
    width: 35%;
    height: 500px;
    background-color: rgb(202, 191, 124);
    background-size: cover;
    background-position: center;
    background-image: url("../../assets/Снимок\ экрана\ 2020-11-15\ в\ 15.41.33.png");
}
.profile-info-middle {
    width: 5%;
    height: 500px;
}

.profile-middle-second {
    width: 60%;
    height: 500px;
}
.profile-dop-second {
    width: 5%;
    height: 500px;
}

.profile-info-main .small-description {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 15px;
    padding: 10px;
}
.profile-info-main .small-description p {
    display: flex;
    color: rgb(104, 100, 100);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin-top: 5px;
}
.profile-info-main .small-description h1 {
    display: flex;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin-top: 15px;
}

.profile-info-main .small-description img {
    width: 400px;
    height: 250px;
}
