.teacher-container {
    display: flex;
    justify-content: space-between;
    z-index: 1;
    margin-top: 320px;
}
.teacher-container img{
    width: 500px;
    height: 400px;
    display: flex;
    margin-left: 0 auto;
    box-shadow: 0 20px 20px rgba(82, 87, 76, 0.4);
}
.teacher-content {
    display: flex;
    margin-right: 60px;
    flex-direction: column;
    width: 500px;
}

.teacher-title {

}


