body {
    margin: 0;
}
.app {
    margin: 0 auto;
    max-width: 1300px;
    margin-bottom: 10px;
}
/* :root {
    --myFontFamily: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} */
