.shopping-cart-modal {
    width: 700px;
    height: 450px;
    background-color: white;
}

.shopping-cart-modal {
    padding: 20px;
}

.shopping-cart-courses-modal {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    margin: 0 auto;
    margin-top: 30px;
    width: 600px;
    height: 300px;
    background-color: #fbfbf8;
    border: 1px solid rgb(226, 223, 223);
}
.shopping-cart-btn a{
    color: white;
    text-decoration: none;
}

.shopping-cart-courses-modal-items {
    display: flex;
    align-items: center;
    padding: 10px;
}

.shopping-cart-courses-modal-items img{
    width: 90px;
    height: 70px;
    border-radius: 5px;
    margin-right: 10px;
}

.shopping-cart-courses-modal h3 {
    font-weight: 300;
    padding: 10px;
}
