.registration-container {
    display: flex;
    margin-top: 100px;
}

.registration-wrapper {
    display: flex;
    justify-content: center;
}

.registration-background {
    display: flex;
    background-size: cover;
    background-position: center;
    background-image: url('../../assets/Снимок экрана 2020-11-15 в 15.42.21.png');
    width: 60%;
}

.registration {
    width: 30%;
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    width: 500px;
    height: 500px;
}

.registration-inputs {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0 auto;
    /* margin-top: 15%; */
    padding: 40px;
}

.registration-inputs h1 {
    font-size: 24px;
    padding-bottom: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.registration-inputs:active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
}

.registration-inputs input {
    border: none;
    border-bottom: 1px solid rgb(158, 156, 156);
    width: 300px;
    height: 15px;
}

.registration-inputs label {
    display: inline;
    flex-direction: flex-start;
    text-align: end;
    color: rgb(158, 154, 154);
    padding: 8px;
    padding-right: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.registration button {
    text-decoration: none;
    outline: none;
    display: inline-block;
    min-width: 140px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin-top: 30px;
    font-family: "Montserrat", sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 14px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.registration button:hover {
    background: #364f94;
    box-shadow: 0 15px 20px rgba(46, 104, 229, 0.4);
    color: white;
    cursor: pointer;
    transform: translateY(-3px);
}

.registration-registrations {
    margin: 0 auto;
    text-align: center;
}

.registration-registrations span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* padding: 10px; */
    text-align: center;
    font-size: 15px;
}

.registration-registrations a {
    padding-left: 5px;
    color: rgb(40, 40, 90);
    text-decoration: none;
    font-weight: 800;
}