.login {
    margin: 0 auto;
    text-align: center;
    span {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        font-size: 15px;
    }
    a {
        padding-left: 5px;
        color: rgb(40, 40, 90);
        text-decoration: none;
        font-weight: 800;
    }
}
