.cart-shop-container {
    margin-top: 100px;
}

.cart-shop-header {
    position: absolute;
    display: flex;
    align-items: center;
    background-color: rgb(135, 171, 146);
    color: white;
    height: 100px;
    top: 70px;
    left: 0;
    right: 0;
    border-bottom: 1px solid rgb(206, 204, 204);
}

.cart-shop-header h2 {
    display: flex;
    padding: 30px;
}

.cart-shop-items {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    margin-top: 200px;
    max-width: 900px;
    border: 1px solid rgb(230, 228, 228);
}

.cart-shop-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgb(230, 228, 228);
}

.cart-shop-photo {
    display: flex;
    width: 30%;
}

.cart-shop-descr {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.cart-shop-photo img {
    width: 140px;
    height: 80px;
}

.cart-shop-descr p {
    font-weight: 700;
}

.cart-shop-delete {
    display: flex;
    width: 20%;
    color: #007791;
}

.cart-shop-price {
    width: 20%;
    font-weight: 700;
    color: #ec5252;
}