.lessons-leaning-wrapper {
    display: flex;
    justify-content: space-between;
    margin: auto;
    min-height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.lessons-time {
    display: block;
}

.lessons-leaning-wrapper:hover {
    cursor: pointer;
    background-color: #f7f9fa;

}