.courses h1 {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    font-size: 70px;
}
.courses {
    margin-top: 50px;
    display: flex;
}
.course-wrap input{
    margin-top: 30px;
    border: none;
    /* background-color: rgba(222, 197, 236, 0.2); */
    height: 30px;
    margin-bottom: 40px;
    border-radius: 4px;
    width: 300px;
}
.course-wrap hr {
    margin-top: 30px;
}
