/* .user-container {
    display: flex;
    justify-content: center;
    width: 900px;
    margin: 0 auto;
    margin-top: 50px;
    padding-bottom: 50px;
    border: 1px solid rgb(209, 205, 205);
}
.user-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.user-title .add {
    display: flex;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.user-title h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 300;
} */

/* .Apped {
    text-align: center;
  } */

  /* .Apped-logo {
    height: 40vmin;
  }

  .Apped-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .Apped-link {
    color: #09d3ac;
  } */