.user-container {
    display: flex;
    height: 900px;
    margin-top: 100px;
    border: 1px solid rgb(211, 209, 209);
}
.user-navbar {
    display: flex;
    width: 15%;
    font-weight: 300px;
    font-size: 15px;
    border-right: 1px solid rgb(211, 209, 209);
}
.user-pages {
    display: flex;
    margin: 0 auto;
    height: 300px;
    align-items: center;
    flex-direction: column;
}
.user-pages a {
    display: flex;
    padding: 3px;
    text-decoration: none;
    color: black;
    /* font-family: var(--myFontFamily); */
}
.user-pages img {
    margin-top: 30px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-bottom: 30px;
}
.drag-container {
    display: flex;
    width: 85%;
    flex-direction: column;
}
.user-navbar-name-surname {
    display: flex;
    margin-bottom: 10px;
}
.user-navbar-name-surname > div {
    font-weight: 800;
    padding: 2px;
}
